<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>Busca Fofinha 🌸</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body style="overflow: hidden; height: 100vh;">
    <!-- Esta página inicial apresentará o campo de busca, instruções rápidas e atalhos para o usuário começar as consultas. -->
    <main class="painel-principal">
      
        <div >
          <p class="pt-sans-bold">Bubble</p>
        </div>
        <section >
    
          <form method="get" action="/resultados">
            <!-- O campo abaixo receberá a consulta. No futuro, validações mais robustas poderão ser acrescentadas em JavaScript. -->
            <input id="consulta" name="q" type="text" placeholder=" 🔍 " />
            
            <button type="submit" class="btn">Buscar</button>
            <button type="button" id="btn-limpar" class="btn">Limpar</button>
          </form>
        </section>

     
      
    
    </main>
  </body>
</html>
<style>
